<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz con Botones</title>
    <link rel="stylesheet" type="text/css" href="/static/estilosindex.css">

    <style>
        form{
             display: inline-block;
             margin-right: 10px
        }

    </style>

</head>
<body>
    <form action="/Ejercicio1" method="get">
        <button id="boton1" type="submit">Ejercicio1</button>
    </form>
    <form action="/Ejercicio2" method="get">
        <button id="boton2" type="submit">Ejercicio2</button>
    </form>
</body>
</html>
